body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background:#111;
}
ul.mainList {
  margin:10px auto;
  width:400px;
  padding:15px;
  box-sizing:border-box;
  background:#FFF;
  border-radius:15px;
  list-style-type:none;
  box-shadow:8px 8px 0 0 #181818;
}
ul.mainList > li {
  background:lightgray;
  padding:10px;
  display:flex;
  border:1px solid gray;
  border-radius:3px;
  margin-bottom:1px;
}
/* Checkbox related stuff */
label.container {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}